h1 {
    position: fixed; /* Fixierte Position, bleibt bei Scrollen sichtbar */
    color: #649b6d; /* Textfarbe */
    background-color: #e6ebe2; /* Hintergrundfarbe */
    z-index: 2; /* Überschrift bleibt über anderen Elementen */
    font-size: 2em; /* Schriftgröße, anpassbar */
    padding: 10px; /* Innenabstand */
    text-align: center; /* Textzentrierung */

    top: 0; /* Ganz oben auf der Seite */
    left: 50%; /* Horizontal zentriert */
    transform: translateX(-50%); /* Verschiebt das Element um die Hälfte seiner Breite nach links */
}


body{
	width: 100%;
	height: 100%;
	margin: 5px;
	font-family: "Helvetica Neue", Arial, Helveticam sans-serif;
}

#map {
	height:98%;
	width:98%;
	left:1%;
	overflow:hidden;
	position:fixed;
	border:1px #649b6d solid;
}

